@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="static">
        <img src="~/Content/Images/medicine_banner.png" alt="homebanner" class="homebanner" />
    </div>
    
    <div class="introfont">
        <p class="greybanner">Welcome to the Science of Medicine! This site will introduce you to the history of medical development and explain how common antibiotics and vaccines work.</p>
    </div>
    <hr />
    <div class="flex-container">
        <div class="boxmargin">
            <div class="linkbox">
                <img src="~/Content/Images/stethoscope_vectorstock.png" alt="med history image" width="200" height="200" />
                <h3>@Html.ActionLink("Medicine", "Medicine", "Home", new { area = "" }, new { @class = "header3text" })</h3>
                <p>A summary of medical history and the future of medicine</p>
                @Html.ActionLink("Learn more", "Medicine", "Home", new { area = "" }, new { @class = "blue-text" })
            </div>

        </div>
        <div class="boxmargin">

            <div class="linkbox">
                <img src="~/Content/Images/pill_vectorstock.png" alt="antibiotics image" width="200" height="200" />
                <h3>@Html.ActionLink("Antibiotics", "Antibiotics", "Home", new { area = "" }, new { @class = "header3text" })</h3>
                <p>The discovery of antibiotics, the rise of antibiotic-resistant bacteria and the race to discover new antibiotics</p>
                @Html.ActionLink("Learn more", "Antibiotics", "Home", new { area = "" }, new { @class = "blue-text" })
            </div>

        </div>
        <div class="boxmargin">

            <div class="linkbox">
                <img src="~/Content/Images/vaccine_vectorstock.png" alt="vaccines image" width="200" height="200" />
                <h3>@Html.ActionLink("Vaccines", "Vaccines", "Home", new { area = "" }, new { @class = "header3text" })</h3>
                <p>Immunity to diseases, from rabies to tuberculosis</p>
                @Html.ActionLink("Learn more", "Vaccines", "Home", new { area = "" }, new { @class = "blue-text" })
            </div>

        </div>
        <div class="boxmargin">



        </div>
    </div>
</div>