@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="imagecontainer">
        <img src="~/Content/Images/Lab Bottles.jpg" alt="homebanner" class="homebanner" />
        <div class="text-top-center">Learn about the history of medical development, diseases and how common antibiotics and vaccines work.</div>
    </div>
    
    <div class="introfont">
        <div class="greybanner">
            <p></p>
        </div>
    </div>
    <div class="flex-container blueback">
        <div class="boxmargin">
            <div class="linkbox">
                <img src="~/Content/Images/stethoscope_vectorstock.png" alt="med history image" width="200" height="200" />
                <h3>@Html.ActionLink("Medicine", "Medicine", "Home", new { area = "" }, new { @class = "header3text" })</h3>
                <p>A summary of medical history and the future of medicine</p>
                @Html.ActionLink("Learn more", "Medicine", "Home", new { area = "" }, new { @class = "blue-text" })
            </div>

        </div>
        <div class="boxmargin">

            <div class="linkbox">
                <img src="~/Content/Images/pill_vectorstock.png" alt="antibiotics image" width="200" height="200" />
                <h3>@Html.ActionLink("Antibiotics", "Antibiotics", "Home", new { area = "" }, new { @class = "header3text" })</h3>
                <p>The discovery of antibiotics, the rise of antibiotic-resistant bacteria and the race to discover new antibiotics</p>
                @Html.ActionLink("Learn more", "Antibiotics", "Home", new { area = "" }, new { @class = "blue-text" })
            </div>

        </div>
        <div class="boxmargin">

            <div class="linkbox">
                <img src="~/Content/Images/vaccine_vectorstock.png" alt="vaccines image" width="200" height="200" />
                <h3>@Html.ActionLink("Vaccines", "Vaccines", "Home", new { area = "" }, new { @class = "header3text" })</h3>
                <p>Immunity to diseases, from rabies to tuberculosis</p>
                @Html.ActionLink("Learn more", "Vaccines", "Home", new { area = "" }, new { @class = "blue-text" })
            </div>

        </div>
        <div class="boxmargin">

            <div class="linkbox">
                <img src="~/Content/Images/SARS-CoV-2.png" alt="SARS-CoV-2 image" width="180" height="180" style="margin: 10px;"/>
                <h3>@Html.ActionLink("Diseases", "Diseases", "Home", new { area = "" }, new { @class = "header3text" })</h3>
                <p>Conditions that impact health, their causes and history</p>
                @Html.ActionLink("Learn more", "Diseases", "Home", new { area = "" }, new { @class = "blue-text" })
            </div>

        </div>
    </div>
</div>